.common {
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  background-color: var(--search-background-color);
}

.box {
  position: relative;
}

.search {
  composes: common;

  /* Safari Styles their own inputs, we clear it out. */
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: var(--section-border-radius);

  height: 80px;
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 30px;
}

.button {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 74px;
  width: 96px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: var(--search-background-color);
}

.button > svg {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
}

.search::placeholder {
  color: var(--muted);
  opacity: 1;
}

.search:focus {
  border: 3px solid var(--search-border-color);
  /* Small hack to account for the border change. */
  padding: 17px 27px;
}

@media screen and (max-width: 700px) {
  .search {
    height: 60px;
    padding: 15px 20px;
  }

  .search:focus {
    /* Small hack to account for the border change. */
    padding: 12px 17px;
  }

  .button {
    height: 54px;
    width: 72px;
  }

  .button > svg {
    width: 28px;
    height: 28px;
  }
}
