.common {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 18px 20px;
  border-left: 0.5px solid var(--muted);
  border-right: 0.5px solid var(--muted);
  border-top: 0.5px solid var(--muted);
}

.container:first-child {
  border-radius: var(--section-border-radius) var(--section-border-radius) 0 0;
}

.container:last-child {
  border-radius: 0 0 var(--section-border-radius) var(--section-border-radius);
  border-bottom: 0.5px solid var(--muted);
}

.container:only-child {
  border-radius: var(--section-border-radius);
}

.details {
  flex-grow: 1;
}

.title {
  font-weight: bold;
  margin: 0;
}

.meta {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.description {
  color: var(--muted);
}

.time {
  color: var(--muted);
  margin-bottom: 15px;
  white-space: nowrap;
}

.upvotes {
  color: var(--muted);
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 50px;
  border-radius: 40px;
  padding: 7px 25px;
}
