.report {
  position: fixed;
  padding: 20px 30px;
  border-radius: var(--section-border-radius);
  width: 100%;
  bottom: 35px;
  color: var(--text-color-white);
  background-color: var(--danger);
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  border: none;
  text-align: left;
}

@media screen and (max-width: 700px) {
  .report {
    bottom: 25px;
    padding: 16px 30px;
    text-align: center;
  }
}
