.title {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-weight: var(--font-style);
  letter-spacing: var(--letter-spacing);
  color: var(--muted);
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
}
